@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
:root{
    --color-font: #fff;
    --color-site: #0099ff;
    --color-cinza: #909090;
    --card: #000000ee;
}

::-webkit-scrollbar{
    width: 8px;
}


::-webkit-scrollbar-thumb{
    background: var(--color-site);
    border-radius: 50px;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    list-style: none;
    color: var(--color-font);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


body{
    background-color: #000;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.back{
    height: 130vh;
    width: 100vw;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    top: 0;
    animation: cors 5s infinite;
}

.back2{
    margin-top: 130vh;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    top: 0;
    animation: cors2 5s infinite;
}

span{
    color: var(--color-site);
}

header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    gap: 35px;
}

header .menu ul li a{
    padding-bottom: 4px;
}

header .menu ul li a:hover{
    border-bottom: 2px solid var(--color-site);
}


section.main{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--card);
    padding: 20px;
}

section.main h1{
    font-weight: 800;
    font-size: 2.5em;
    color: var(--color-site);
}

section.main .textos h1{
    color: var(--color-font);
}

section.main p{
    color: var(--color-cinza);
}

section.main .textos{
    width: 50%;
    gap: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section.main .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

section.main .img{
    width: 310px;
    height: 310px;
    border-radius: 50%;
    background-image: url("./src/img/rj-logo.png");
    background-position: center;
    background-size: cover; 
    animation: logo 1.5s infinite;
}

section.main a.btn{
    padding: 10px 25px;
    width: 200px;
    font-weight: 800;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 4px var(--color-site);
    transition: .3s;
}

section.main a.btn:hover{
    background-color: var(--color-site);
}

section.main p.card{
    width: 70%;
    font-weight: 800;
    padding: 20px;
    border-radius: 10px;
    transition: .2s;
    font-style: oblique;
    text-transform: uppercase;
    animation: card 1.5s infinite;
}

section.main p.card span{
    font-weight: 800;
}


section.cards{
    display: flex;
    width: 90%;
    justify-content: center;
}

section.cards .texto{
    width: 30%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

section.cards .texto h2{
    color: var(--color-site);
    font-weight: 800;
}

section.cards .texto p{
    color: var(--color-cinza);

}


a.dc{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2em;
    position: fixed;
    right: 20px;
    top: 650px;
    height: 80px;
    width: 80px;
    background-color: var(--color-site);
    border-radius: 50%;
    animation: dc 3s infinite;
}


section.cards .card{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.cards .card .card-info{
    height: 100%;
    padding: 70px 40px;
    width: 48%;
    background-color: var(--card);

    border: 2px solid var(--color-site);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

section.cards .card .card-info .logo{
    height: 120px;
    width: 120px;
    background-color: gray;
    border-radius: 50%;
}

section.cards .card .card-info .title{
    text-align: center;
    font-weight: 800;
}  


section.cards .card .card-info .infos ul li{
    display: flex;
    align-items: center;
    gap: 10px;
}

section.cards .card .card-info .infos ul li i{
    color: var(--color-site);
}


@media (max-width: 800px){
   
    header ul li a{
        font-size: 0.9em;
    }
    section.main{
        flex-direction: column;
        gap: 100px;
        width: 100%;
    }
    section.main .textos, section.main .logo{
        width: 100%;
    }
    section.cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.cards .texto{
        width: 90%;
    }
    section.cards .card{
        width: 100vw;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
        gap: 30px;


    }
    section.cards .card .card-info{
        width: 70%;
        height: 100%;
        padding: 20px;
        display: flex;
        height: 100%;
    }
}

@keyframes card {
    0%{
        box-shadow: 0px 0px 2px 1px var(--color-font);
    }
    50%{
        box-shadow: 0px 0px 5px 2px var(--color-font);
    }
    100%{
        box-shadow: 0px 0px 2px 1px var(--color-font);
    }
}


@keyframes logo{
    0%{
        box-shadow: 0px 0px 2px 1px var(--color-site);
    }
    50%{
        box-shadow: 0px 0px 5px 2px var(--color-site);
    }
    100%{
        box-shadow: 0px 0px 2px 1px var(--color-site);
    }
}

@keyframes cors{
    0%{
        background-image: url("./src/img/background.svg");
        opacity: 10%;
    }
    50%{
        background-image: url("./src/img/background.svg");
        opacity: 50%;
    }
    100%{
        background-image: url("./src/img/background.svg");
        opacity: 10%;
    }
}


@keyframes cors2{
    0%{
        background-image: url("./src/img/background2.svg");
        opacity: 10%;
    }
    50%{
        background-image: url("./src/img/background2.svg");
        opacity: 50%;
    }
    100%{
        background-image: url("./src/img/background2.svg");
        opacity: 10%;
    }
}

@keyframes dc{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}